<div class="row">
	<div class="col-8 center">
      <div class="card">
      	<div class="card-header">
      		Programme
      	</div>
      	<div class="card-body">
      		<div *ngIf="cmd == 'add' || cmd == 'edit'">
      			<input 
      			   type="number" 
      			   class="form-control" 
      			   [(ngModel)]="prg.id" 
      			   placeholder="Id"><br/>
      			<input 
      			   type="text" 
      			   class="form-control" 
      			   [(ngModel)]="prg.name" 
      			   placeholder="Name"><br/>
      			<input 
      			   type="text" 
      			   class="form-control" 
      			   [(ngModel)]="prg.language" 
      			   placeholder="Language"><br/>
      			<input 
      			   type="date" 
      			   class="form-control" 
      			   [(ngModel)]="prg.startDate" 
      			   placeholder="Start Date"><br/>
      			<input 
      			   type="date" 
      			   class="form-control" 
      			   [(ngModel)]="prg.endDate" 
      			   placeholder="End Date"><br/>

      			 <p >
      			 	<button 
      			 	*ngIf="cmd == 'add'"
      			 	(click)="addProgramme()" class="btn btn-info">Add</button>
      			 	<button 
      			 	*ngIf="cmd == 'edit'"
      			 	(click)="editProgramme()" class="btn btn-info">Edit</button>
      			 	<button 
      			 	*ngIf="cmd == 'del'"
      			 	(click)="delProgramme()" class="btn btn-info">Delete</button>
      			 	<button 
      			 	(click)="canProgramme()" class="btn btn-info">Cancel</button>
      			 </p>
      		</div>


      		<!-- List of programme -->
      		<button *ngIf="cmd == 'new'" (click)="doAction('add')">New Programme</button>
      		<table class="table table-border">
      			<tr *ngFor="let p of prgs">
      				<td>{{p.id}}</td>
      				<td>{{p.name}}</td>
      				<td>{{p.language}}</td>
      				<td>{{p.startDate}}</td>
      				<td>{{p.endDate}}</td>
      				<td>
      					<button (click)="editProgramme(p)">Edit</button>
      					<button (click)="delProgramme(p)">Delete</button>
      				</td>
      			</tr>
      		</table>
      	</div>
      </div>
	</div>
</div>	